<div class="app-task">    
    <div [ngSwitch]="editandoTarefa"  class="task-name">
        <form class="d-flex" *ngSwitchCase="true" [formGroup]="editarTarefaForm" (ngSubmit)="editarTarefa()">
            <input type="text" class="form-control mr-1" placeholder="Editar tarefa" formControlName="nome" />
            <button class="btn btn-outline-secondary mr-1" (click)="editandoTarefaClick()">Voltar</button>
            <button class="btn btn-outline-primary font-weight-bold" [disabled]="editarTarefaForm.invalid">Salvar</button>
        </form>
        <div class="d-flex" *ngSwitchDefault>
            <label class="form-check-label mr-2">
                <input class="checkbox" type="checkbox" [checked]="tarefaChecked()" (change)="tarefaCheckClick()" />
            </label>
            <div class="task-name-bind" (click)="editandoTarefaClick()" [ngClass]="tarefaCheckedClass()">{{tarefa.name}}</div>
            <button type="button" class="btn btn-outline-danger excluir-btn float-right" (click)="excluir()">Excluir</button>
        </div>
    </div>   
</div>