<div class="container mt-3">
    <small class="form-text text-muted">Nova Lista</small>
    <form [formGroup]="novaListaForm" class="d-flex mb-4" (ngSubmit)="registrarLista()">
        <input type="text" class="form-control" id="novaListaInput" placeholder="Insira um nome para a nova lista" formControlName="nome"/>
        <button type="submit" class="btn btn-primary font-weight-bold" style="min-width: 8rem;" [disabled]="novaListaForm.invalid">Criar Lista</button>
    </form>

    <div class="row row-cols-1 row-cols-md-2">
        <app-list class="col mb-3" *ngFor="let li of listas" [lista]="li" (apagarLista)="apagarLista($event)"></app-list>
    </div>
</div>