<div class="container text-center">
    <form class="entrar-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="alert alert-danger" role="alert" *ngIf="loginError">
            Erro ao entrar.
        </div>
        <h3> Entrar </h3>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="off"
            formControlName="email" />

        <label for="inputSenha" class="sr-only">Senha</label>
        <input type="password" id="inputSenha" class="form-control" placeholder="Senha" autocomplete="off"
            formControlName="senha" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>
</div>